{% extends 'base.html'%}
{%load static%}
{% block content %}

<div class="container-fluid">
        <img src="{%static 'img/diliveryman.jpg'%}" alt="image not found" width="1000" height="450" style="margin:0px 250px">
        <h4 style="color:red;margin:0px 50px; margin-bottom:10px">Note: * denotes mandatory fields</h4>
       <form>
      <label  style="color:blue; margin-bottom:20px; margin:0px 300px;font-size:20px">Name<span class="required" style="color:red"> *</span></label><br>
      <input placeholder="Firstname" type="text"  name="fname" style="margin:2px 300px">
      <input placeholder="Lastname" type="text"  name="lname" >
      <label  style="color:blue;  margin:50px 300px;font-size:20px">Address<span class="required" style="color:red"> *</span></label><br>
       <input placeholder="Lastname" type="text"  name="lname" >
   </form>
</div>


{% endblock %}